body {
    font-family: 'PT Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('https://happywall-img-gallery.imgix.net/27385/manchester_map_display.jpg');
    background-size: cover;
    /* Adjusted background size */
    background-position: center bottom;
    /* Start at the bottom */
    background-attachment: fixed;
    /* Optional: This keeps the background fixed while scrolling */
}

.navbar {
    background-color: rgb(167, 167, 167);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title {
    font-size: 1.1vw;
}

.nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.nav-item {
    margin-right: 10px;
}

.nav-item:last-child {
    margin-right: 0;
}

.nav-item a {
    text-decoration: none;
    color: black;
}

header {
    border-style: solid #000000;
    background: rgb(202, 187, 43);
    background: linear-gradient(90deg, rgba(202, 187, 43, 1) 0%, rgba(246, 216, 90, 1) 49%, rgba(141, 135, 139, 1) 81%);
    color: #FFFFFF;
    text-shadow: 1px 1px 3px rgba(66, 68, 90, 1);
    text-align: center;
    padding: 20px 0;
}

h1 {
    margin: 0;
    font-size: 4vw;
}

.header-container {
    text-align: center;
    /* Center the content horizontally */
    margin-bottom: 20px;
    /* Add some space between the header image and the header text */
}

.header-container img {
    max-width: 100%;
    height: auto;
    border: 4px dotted black;
    
    /* Add a dotted black border */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Add drop shadow */
}

.quiz-container main {
    padding: 20px;
}

#pub-crawl-stops {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.stop {
    width: calc(50% - 20px);
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-style: solid;
}

.stop h2 {
    font-family: Sixtyfour, sans-serif;
    font-size: 2.1vw;
    color: orange;
    background-color: black;
    padding: 10px 10px;
    /* Adjust padding to make it closer to the text */
    margin: 3px;
    /* Remove any default margin */
    border-radius: 10px;
    border: 5px solid black;
}

.stop p,
.stop a {
    margin: 5px 0;
    /* Adjust spacing between elements */
    font-size: 1.1vw;
    /* Adjust font size */
    display: block;
    /* Ensure they are displayed as block elements */
}

.stop img {
    display: block;
    margin-top: 10px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid black;
    /* Add a small black border */

}

.stop a {
    font-family: 'PT Sans', sans-serif;
    color: inherit;
    /* Use the same color as the surrounding text */
    text-decoration: none;
    transition: border-color 0.3s ease;
}

.stop a:hover {
    border-bottom-color: #ff00c3;
    /* Blue color on hover */
}

#pub-crawl-rules {
    width: calc(50% - 20px);
    margin: 0 auto;
    /* Center the section horizontally */
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-style: solid;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
}

#pub-crawl-rules h2 {
    font-family: Sixtyfour, sans-serif;
    font-size: 2.1vw;
    color: orange;
    background-color: black;
    padding: 10px 10px;
    margin: 0;
    border-radius: 10px;
    border: 10px solid black;
}

#pub-crawl-rules ul {
    list-style-type: none;
    padding: 0;
    margin: 20px;
}


.quiz-container {
    text-align: center;
    /* Center the content horizontally */
    margin-bottom: 20px;
    /* Add some space between the header image and the header text */
}

.quiz-container img {
    max-width: 100%;
    height: auto;
    border: 4px dotted black;
    /* Add a dotted black border */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Add drop shadow */
}

@media only screen and (max-width: 600px) {
    .stop {
        width: calc(100% - 40px);
        margin-bottom: 10px; /* Adjusted margin for smaller screens */
        padding: 10px;
    }

    .nav-title {
        font-size: 3.1vw;
    }
    .nav-list {
        font-size: 2.5vw;
    }
    
    .quiz-container img {
        width: calc(100% - 40px);
        margin-bottom: 20px; /* Adjusted margin for smaller screens */
    }

    h1 {
        font-size: 8vw;
    }

    .stop h2 {
        font-size: 3vw;
        padding: 10px 20px; /* Adjusted padding for smaller screens */
    }

    .stop p,
    .stop a {
        font-size: 3vw;
        margin-top: 5px;
    }

    #pub-crawl-rules {
        width: calc(100% - 40px);
        margin: 0 auto;
        margin-bottom: 10px;
        padding: 10px;
    }

    #pub-crawl-rules h2 {
        font-size: 3vw;
        padding: 10px 20px;
    }
}


#footer {
    background-color: rgb(255, 255, 255);
    padding: 5px;
    /* Increase padding for better spacing */
    display: flex;
    justify-content: center;
    /* Center the content horizontally */
    align-items: center;
    text-align: center;
    font-family: 'PT Sans', sans-serif;
    /* Use a consistent font family */
    font-size: 14px;
    /* Adjust font size as needed */
}